<div class="footer_wrap" >
<footer class="footer-distributed">
    <div class="footer-left">
      <h3>Dicepticon</h3>
      <div class="footer-center">
        <p class="footer-links">
          <a href="/">홈&nbsp</a>
          <a href="/smartfarm">농장&nbsp</a>
          <a href="/robot">로봇&nbsp</a>
          <a href="/employee">직원&nbsp</a>
        </p>
      </div>
      <p class="footer-company-name">Ⓒ PROJECT DCT Integrated Management System</p>
    </div>      
    <div class="footer-center">
      <div>
        <img src="/static/img/map.png">
        <p><span>광주광역시, 동구 제봉로 92 대성학원 1~3층</span>인공지능 사관학교<br>AI모델링TRACK 사물지능 6강의실</p>
      </div>
      <div>
        <img src="/static/img/tel.png">
        <p> 062-710-3257~9<br>10시 ~ 17시 (월~금)</p>
      </div>
      <div>
        <img src="/static/img/email.png">
        <p><a href="mailto:BTR@company.com">CBT@company.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        광주인공지능사관학교 AI모델링Track 사물지능을 배우고 있는학생들로 구성된 2차 프로젝트 팀으로
        자율주행 스마트팜 로봇 통합 관리 시스템을 제작하고 있습니다.
      </p>
      <!-- <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div> -->
    </div>
  </footer>
</div>