<div class="footer_wrap" >
<footer class="footer-distributed">
    <div class="footer-left">
      <h3>DCT</h3>
      <p class="footer-links">
        <a href="/" class="link-1">Home</a>
        <a href="/diamond/shop">Shop</a>
        <a href="/service/faq">FAQ</a>
      </p>
      <p class="footer-company-name">Ⓒ PROJECT TEAM DCT</p>
    </div>      
    <div class="footer-center">
      <div>
        <img src="/static/img/map.png">
        <p><span>광주광역시, 동구 제봉로 92 대성학원 1~3층</span>인공지능 사관학교<br>AI모델링TRACK 사물지능 6강의실</p>
      </div>
      <div>
        <img src="/static/img/tel.png">
        <p> 062-710-3257~9<br>10시 ~ 17시 (월~금)</p>
      </div>
      <div>
        <img src="/static/img/email.png">
        <p><a href="mailto:diamond@company.com">diamond@company.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        광주인공지능사관학교 AI모델링Track 사물지능을 배우고 있는 학생들로 구성된 1차 프로젝트 팀으로
        도마뱀 IoT 사육장 키트를 제작하고 있습니다.
      </p>
      <!-- <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div> -->
    </div>
  </footer>
</div>